!!!
%html
  %head
    %title Aphorisms
    %link{:rel => 'stylesheet', :type => "text/css", :href => "/~#{EnvironmentHelper.me}/static/bootstrap/css/bootstrap.css"}
    %script{:type => "text/javascript", :src => "/~#{EnvironmentHelper.me}/static/jquery-1.9.1.min.js"}

  %body
  = yield
