.container-fluid
  .row-fluid
    .span2
      = render "shared/exercises"
    .span10
      %p
        Vulnerability Test Field is a program where you can sharpen your
        Web-security skills. Just select an exercise from the left and start
        cracking!

      %p TODO: Some nice image!

