%ul.nav.nav-list
  %li.nav-header SQL-Injection
  %li
    %a Exercise 1
  %li
    %a Exercise 2
  %li
    %a Exercise 3

  %li.nav-header XSS
  %li
    %a Exercise 1
  %li
    %a Exercise 2
  %li
    %a Exercise 3

