development:
  adapter: postgresql
  database: vtf
  username: manny
  timeout: 5000

test:
  adapter: postgresql
  database: vtf-test
  username: manny
  timeout: 5000

production:
  adapter: postgresql
  database: vtf-production
  username: manny
  timeout: 5000
