.description.area
  %h2 Description
  %p= @exercise.description

.buttons.area
  %button#start-sandbox.btn.btn-large.btn-primary{:type => "button"} Start Sandbox
  %button#destroy-sandbox.btn.btn-large{:type => "button"} Destroy Sandbox

.sources.area
%h2 Sources
%p TODO: Sources here :)
