.description.area
  %h2 Description
  %p= @exercise.description

.buttons.area
  %button.btn.btn-large.btn-primary{:type => "button"} Start Sandbox
  %button.btn.btn-large{:type => "button"} Reset Sandbox


.sources.area
%h2 Sources
%p TODO: Sources here :)
